    body {
    font-family: Arial;
    padding: 20px;
    text-align: center;
}

.title {
    margin-bottom: 20px;
    color: rgb(19, 62, 18);
}

#steps {
    list-style: none;
    padding: 0;
}

#steps li {
    margin: 10px;
    font-size: 18px;
}

.bold {
    font-weight: bold;
    color: rgb(207, 33, 33);
}

#startBtn {
    padding: 10px 15px;
    margin-top: 20px;
    background: rgb(228, 209, 62);
    color: rgb(9, 9, 9);
    border: 2px solid black;
    cursor: pointer;
}