#carousel {
    width: 400px;
    height: 250px;
    margin: 20px auto;
    border: 2px solid #aaa;
}

#carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-box {
    text-align: center;
    margin-top: 10px;
}

.btn {
    padding: 8px 15px;
    margin: 0 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}
