body {
    font-family: Arial;
    padding: 20px;
    background-color: rgb(219, 219, 238);
}

.title {
    text-align: center;
}

.controls {
    text-align: center;
    margin-bottom: 15px;
}

.btn {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    background: rgb(146, 118, 118);
    color: white;
    border: none;
}

#search {
    width: 300px;
    padding: 8px;
    display: block;
    margin: 0 auto 20px;
    border: 2px solid #aaa;
}

#productList {
    list-style: none;
    padding: 0;
    text-align: center;
}

#productList li {
    margin: 8px 0;
    padding: 10px;
    background: #966e6e;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
