body {
            font-family: Arial;
            padding: 20px;
        }
        #box {
            width: 300px;
            padding: 15px;
            background-color: aquamarine;
            color: black;

            border: 1px solid black;
        }
        li {
            margin: 5px 0;
        }
        button {
            margin-left: 5px;
            color: black;
            background-color: gold;
            
        }

