*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#form-box{
    width: 320px;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: burlywood;
}

#form-box h2{
    margin-bottom: 15px;
}

#form-box input, #form-box textarea{
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: lavenderblush;
}

.card{
    width:300px;
    border:2px solid black;
    padding:15px;
    margin:10px;
    background : white;
    border-radius:10px;
    display:inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.profile{
    width:60px;
    height:60px;
    border-radius:50%;
    overflow:hidden;
    margin-bottom:10px;
}

.profile img{
    width:100%;
    height:100%;
    object-fit:cover;
}

