form {
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #ccc;
}

input.success {
    border-color: green;
}

input.error-border {
    border-color: red;
}

.error {
    color: red;
    font-size: 12px;
    height: 14px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}
